:root {
    --green: #0A3641;
    --white: #fff;
    --red: red;
}


/*CSS for CMS CA*/


/*HOME*/

.collectionlink, .collectionlink a {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    font-weight: bolder;
    text-decoration: none;
    list-style-type: none;
    color: var(--red);
    margin: 10px;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.2em;
}

.collectionlink:hover {
    font-size: 1.1em;
}

.selections {
    height: 100px;
    margin: 30px;
}

@media only screen and (min-width: 750px) {


.collectionlink, .collectionlink a {
    margin: 25px 10px;
    font-size: 1.4em;
}

.collectionlink:hover {
    font-size: 1.5em;
}

.content-x {
    height: 150px;
}

.content-x nav {
    border: 5px groove var(--green);
}

}

@media only screen and (min-width: 1000px) {

.content-x {
    margin-top: 10px;
    border: none;

}
}