:root {
    --green: #0A3641;
    --white: #fff;
    --red: red;
}

/*All new CSS for JS1 ca. */


/*Loader*/

.loadingbox {
    display: block;
    
}

.loader {
    color: #9f1694;
    font-size: 1.2em;
    margin: 10px auto;
    padding-top: 10px;
    text-align: center;
}

.loader-indicator {
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
    margin: 20px auto;
}


@keyframes spin {
   0% { transform: rotate(0deg);}
   100% { transform: rotate(360deg);}
}


/*Error*/

.errorMessage {
    display: block;
    width: max-content;
    font-size: 1.2em;
    color: var(--red);
    padding: 1.5rem;
    margin: 30px auto;
    grid-column-end: span 3;
}


/* ALL NEW CMS CA CSS*/

.skunumber {
    text-align: left;
    margin: 0;
    font-size: 0.7em;
}

.nameprice {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 0;
}

.namepriceX {
    display: none;
    visibility: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 0;
}

.descriptions {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 130px;
    margin: 20px auto;
    padding: 0;
}

.descriptions .info1 p {
    display: block;
}

.descriptions::after {
    content: "";
    position: absolute;
    background-color: var(--red);
    inset: 0;
    height: 230px;
    margin-top: 430px;
    z-index: 0;
    opacity: 0.05;
}
 
.info1 {
    width: 100%;
    font-size: 0.5em;
    border-left: 0.5px solid var(--red);
    padding: 0 10px;
}

.info1 p {
    padding: 0px;
}

.info1 span {
    font-weight: 600;
}


/*-----------------*/


/* CCS FOR OLDER CA*/
/*Women & Men*/

.hidden  {
    display: none;
    visibility: hidden;
}
                                                        
.jacketInfo {
    display: block;
    border:  1px solid var(--green);
    margin: 10px auto;
    width: 95%;
    height: 370px;
    max-width: 220px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 35)
}

.jacketInfo:hover {
    border: 5px inset var(--green);
    margin: 10px 5px;
    padding: 2px;
}
 
.productMen, .productWoman {
    display: flex;
    color: var(--white);
    letter-spacing: 0.5em;
    font-weight: bolder;
    margin: 20px auto;
    text-align: center;
    padding-bottom: 20px;
    background-color: var(--green);
}

.productSection, .productSectionMen {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: center;
    text-align: center;
    color: var(--green);
    padding-bottom: 30px;
}
 
.productPrice {
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    color: var(--green);
    margin-top: -5px;
}
 
.productImage {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 160px;
    margin: 30px auto;
    background-color: var(--white);
    padding-top: 20px;
}

.productname {
    color: var(--green);
}
 
.line5 {
    display: block;
    border: 3px solid; 
    border-color: #0A3641;
    margin-top: 30px;
}

#bn{
    font-size: 0.6em;
    color: #0A3641; 
    background-color: #fff;
    height: 30px;
    padding: 5px;
    text-align: center;
    border: 1px solid #0A3641;  
    border-radius: 6px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35)
}

.bnBox {
    margin: 0 4px;
}

 
/*Product (PRODUCTPAGE)*/
 
.productContent {
    display: block;
}
 
.productName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto 0;
}
 
.productImage2 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    max-width: 230px;
    min-height: 200px;
    margin: 20px auto 50px;
}

.productInfo {
    display: block;
    font-size: 1em;
    border-top: 2.5px dotted var(--green);
    margin: 40px auto;
    padding-top: 10px;
    justify-content: center;
}
 
.productPrice2  {
    font-size: 1em;
    font-weight: bold;
    text-transform: lowercase;
}

.saleprice {
    display: block;
}

.saleText {
    display: block;
    margin: 30px auto -10px;
    color: red;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px dotted var(--green);   
}

.onSaleSection, .onSaleSection2  {
    display: block;
    color: red;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}
 
.properties {
    flex-direction: row;
    font-size: 0.6em;
    text-align: left;
    font-weight: 400;
    line-height: 2em;
    padding-right: 20px;
}

.properties span {
    font-weight: 700;
}
 
.productGender, .productColor {
    font-size: 0.8em;
    margin-top: 40px;
    color: var(--green);
    margin: 5px auto;
    padding: 0;
    text-align: center;
}
 
.infoBox {
    max-width: 400px;
    margin: 20px auto;
    padding: 0 0.5rem;
    font-size: 0.7em;
}
 
select {
    display: block;
    width: 50px;
    height: 20px;
    margin: 20px 0;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    color: var(--red);
    border-radius: 3px;
    background-color: #fff;
    color: var(--green);
}

.sizeform, #selectsize2 {
    text-align: center;
    color: var(--red);
    width: 100%;
    margin: 0;
    padding: 0;
}

.selectbox {
    border-top: 2px double var(--green);
    display: block;
    justify-content: space-between;
}

.formbox {
    display: flex;
    margin-bottom: 10px;
    max-width: 130px;
    margin: auto;
}

.slcSize{
    width: 100%;
    margin: 25px 0;
    font-size: 0.8em;
}

.cartbuttons {
    margin-top: -30px;
}
 
#atc, #gtc, .atcbtn {
    display: block;
    border: 1px solid var(--green);
    color: var(--green);
    background-color: var(--white);
    font-style: normal;
    border-radius: 10px;
    width: 80px;
    height: auto;
    font-size: 0.6em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 35px auto; 
    cursor: pointer;
}

#gtc a {
    text-decoration: none;
    list-style: none;
    color: var(--green);
}

#gtc {
    margin-top: -25px;
}
 
.backbutton, #back {
    font-size: small;
    color: var(--green);
    margin: 10px 5px;
    padding: 10px 0;
    text-decoration: underline;
    border-bottom: 1px solid var(--red);

}

.actionButton {
    display: block;
}
 

/*JACKET YOU MAY LIKE*/


.likesection {
    display: block;
    background-color: var(--green);
    color: var(--white);
    margin: 0 auto 0;
    padding-bottom: 30px;
    justify-content: center;
    text-align: center;
}

.liketitle {
    font-size: 0.8em;
    padding: 30px 0 5px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-top: 20px double var(--white);
}

.productsyoumaylike {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    max-width: 500px;
    justify-content: space-evenly;
    margin: auto;
    background-color: var(--white);
}

.likeInfo {
    display: block;
    background-color: var(--white);
    border: 1px solid var(--green);
    margin: 10px auto;
    width: 90%;
}

.likename {
    color: var(--green);
}

.likeImage {
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 90px;
    margin: 15px auto;
    background-position: center;
}

.likePrice {
    color: var(--green);
    margin: 5px auto;
}
 


@media only screen and (min-width: 390px) and (max-width: 569px) {
 

.selectbox {
    display: flex;
    max-width: 350px;
    margin: auto;
}

#atc, #gtc  {
    margin-right: 15px;
    max-height: 30px;
    margin-top: 60px;
}

.slcSize {
    display: block;
    width: 100px;
}

.cartbuttons {
    display: flex;
}

.jacketInfo:hover {
    border: 5px inset var(--green);
    margin: 10px 6px;
    padding: 2px;
}

.productSection, .productSectionMen {
    max-width: 400px;
    margin: auto;
}
}
 


@media only screen and (min-width: 570px) and (max-width: 749px) {

    
/*Women & Men*/

.jacketInfo {
    width: 220px;
    margin: 15px auto;
}

.jacketInfo:hover {
    border: 5px inset var(--green);
    margin: 15px 15px;
    padding: 2px;
}

.jacketContainer, .jacketContainer a {
    padding: 5px;
}
                                                       
.productSection, .productSectionMen {
    display: grid;
    grid-template-columns: 45% 45%;
    max-width: 550px;
    margin: auto;
}


/*Product (PRODUCTPAGE)*/

/*NEW CSS*/

.descriptions::after {
    height: 240px;
    margin-top: 520px;
}

.properties {
    font-size: 0.9em;
}

.info1 {
    font-size: 0.8em;
}
.infoBox {
    max-width: 450px;
}

/*-----------*/

.productContent {
    border: none;
}

.productImage2 {
    max-width: 250px;
    min-height: 300px;
}

.productDetail {
   width: 300px;
   margin: 30px auto;
}


.selectbox {
    display: flex;
    width: 350px;
    margin: 0 auto;
}

.slcSize {
    display: block;
    width: 100px;
}

#atc, #gtc  {
    margin-right: 15px;
    max-height: 30px;
    margin-top: 65px;
}

.cartbuttons {
    display: flex;
}
}


@media only screen and (min-width: 750px) and (max-width: 999px) {

/*Women & Men*/

.jacketInfo {
    width: 200px;
    margin: 7px;
}

.jacketInfo:hover {
    border: 5px inset var(--green);
    margin: 5px 5px;
    padding: 2px;
}

.productSection, .productSectionMen {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.productMen, .productWoman {
    padding: 0 0 20px;
    font-size: 1.6em;
}

.jacketContainer {
    padding: 0 10px;
}


/*Product (PRODUCTPAGE)*/

/*NEW CSS*/

.descriptions{
    max-height: 100%;
}

.descriptions::after {
    height: 220px;
    margin-top: 475px;
}

.properties{
    font-size: 1em;
}

.info1 {
    font-size: 0.9em;
}

.imgnameprice {
    display: grid;
    grid-template-columns: 60% 40%;
}

.nameprice {
    display: block;
    font-size: 3em;
    text-align: right;
    margin-right: 20px;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.productPrice2 {
    font-size: 0.8em;
}

.infoBox {
    max-width: 500px;
}

/*--------*/


.productContent {
    display: block;
    grid-template-columns: repeat(3, auto);
    margin: 10px auto;
    border: none;
}

#productSection {
    display: flex;
    justify-content: center;
}

.productName {
    font-size: 1.2em;
    margin: 30px auto -80px;
}

#productName {
     grid-column-end: span 3;
}

.productImage2 {
    min-width: 250px;
    min-height: 350px;
    margin: -50px 0 0 ;
}

.productInfo {
    width: 300px;
}

.infoBox {
    margin-bottom: 20px;
}

.properties {
    margin: 0 auto 0;
}

.productDetail {
    margin-top: 20px;
}


.selectbox {
    display: flex;
    width: 350px;
    margin: 50px auto;
}

.slcSize {
    display: block;
    width: 100px;
}

#atc, #gtc  {
    margin-right: 15px;
    max-height: 30px;
    margin-top: 65px;
}

.cartbuttons {
    display: flex;
}

}


@media only screen and (min-width: 1000px) {
       

/*Women & Men*/

.jacketInfo {
    width: 200px;
   margin: 30px;
}

.jacketInfo:hover {
    border: 5px inset var(--green);
    margin: 30px 25px;
    padding: 2px;
}

.productSection, .productSectionMen {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.jacketContainer {
    padding: 0 10px;
}
   

/*Product (PRODUCTPAGE)*/

.productContent {
    display: block;
    margin: 0 80px;
    border: none;
}

.infoBox {
    max-width: 1000px;
}

.info1 {
    display: block;
    font-size: 0.9em;
}

.productName {
    font-size: 1.3em;
    margin: 20px auto 0;
    writing-mode:unset;
    grid-column-end: span 3;
}

#productName {
     grid-column-end: span 3;
}

.imgnameprice {
    display: grid;
    grid-template-columns: 90% 10%;
}

.nameprice {
    display: none;
    visibility: hidden;
}

.descriptions{
    display: block;
}

.namepriceX {
    display: block;
    visibility: visible;
    margin-right: 25px;
    text-align: right;
    font-size: 3.5em;
    font-weight: bold;
}

.productPrice2X {
    text-transform: lowercase;
    font-weight: 400;
    margin: 0 0 30px;
}

.productInfo {
    min-width: 350px;
}

.infoBox {
    display: grid;
    grid-template-columns: 35% 65%;
    max-width: 800px;
    margin-bottom: 60px;
}

.productImage2 {
    min-width: 300px;
    max-width: 400px;
    min-height: 300px;
    margin-top: 100px;
    background-position: left;
}

.productDetail {
    font-size: 1em;
    margin: 0 auto;
    max-width: 500px;
}

.productPrice2  {
    font-size: 1em;
    margin-top: 0;
}

.descriptions::after {
    display: none;
}

.properties {
    font-size: 1.1em;
    margin-top: 0;  
    font-weight: 500;
    max-width: 450px;
    border-left: 0.5px solid var(--red);
    padding-left: 10px;
    margin: 40px 0 30px;
}

.properties,  .info1 {
    margin-left: 50px;
}

.productGender, .productColor {
    font-size: 1.2em;
}

.backbutton {
    border-top: 2px solid var(--green);
    font-size: medium;
    padding-top: 30px;
}

.selectbox {
    display: flex;
    width: 400px;
    margin: 0px 60px;
}

.slcSize {
    display: block;
    width: 100px;
}

#atc, #gtc  {
    margin-right: 15px;
    max-height: 30px;
    margin-top: 65px;
}

.cartbuttons {
    display: flex;
}

}
